/* CSS reset */
html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.5rem;
  margin: 1rem 0;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #333;
  padding: 0.5rem;
  border: 2px solid #333;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

a:hover {
  background-color: #333;
  color: #fff;
}

/* Styles for header */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

/* Styles for navigation */
nav {
  background-color: #7e9c8c;
  padding: 10px;
  display: flex;
  /* new */
  justify-content: space-between;
  /* new */
  align-items: center;
  /* new */
}

nav ul {
  list-style-type: none;
  display: flex;
  /* new */
  justify-content: space-between;
  /* new */
  align-items: center;
  /* new */
}

nav li a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav li.active a {
  font-weight: bold;
  background-color: #333;
  color: #fff;
}

/* Styles for main content */
main {
  padding: 10px;
  display: flex;
  /* new */
  justify-content: space-between;
  /* new */
}

/* Styles for footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

/* desktop styles */

.container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header {
  height: 100px;
  background-color: #333;
  color: #fff;
  text-align: center;
  flex-basis: 100%;
  /* new */
}

.nav {
  /* float: left; */
  width: 20%;
  background-color: #ccc;
  height: 500px;
}

.content {
  /* float: left; */
  width: 80%;
  height: 500px;
  background-color: #eee;
}

/* tablet styles */

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }

  .nav {
    width: 30%;
  }

  .content {
    width: 70%;
  }
}

/* mobile styles */

@media (max-width: 480px) {
  .header {
    height: 50px;
    font-size: 24px;
  }

  .nav {
    width: 100%;
    height: auto;
  }

  .content {
    width: 100%;
    height: auto;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;

}

h2 {
  font-size: 24px;
  margin-bottom: 20px;

}

h3 {
  font-size: 18px;
  margin-bottom: 20px;

}

button {
  background-color: #618767;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0055cc;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid rgb(246, 227, 232);
  border-radius: 5px;
  margin: 20px;
}

.team li {
  list-style: none;
  margin: 10px;
}

.team p {
  color: red;
  font-weight: bold;
  margin: 10px;
}

.team button {
  background-color: #618767;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.team button:hover {
  background-color: #0062cc;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
}

.user-container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.user-container p {
  font-size: 1rem;
  margin: 5px;
}

.user-container button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-container button:hover {
  background-color: #0062cc;
}

.show-array {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
}

.show-array p {
  font-size: 0.8rem;
  margin: 2px;
  padding: 2px 5px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.show-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  border-bottom: 1px solid black;

}

.show-team p {
  font-size: 1rem;
  margin: 5px;
}

.show-team button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.show-team button:hover {
  background-color: #0062cc;
}

.show-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.show-events p {
  font-size: 1rem;
  margin: 5px;
}

.show-events button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.show-events button:hover {
  background-color: #0062cc;
}

.teams-inUsers {
  flex-wrap: wrap;
  border: 1px solid rgb(36, 181, 152);
  border-radius: 5%;
}

/* Styles for sign in/signup section */
.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
}

.signin h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.signin p {
  font-size: 1rem;
  margin: 5px;
}

.signin input[type="text"],
.signin input[type="email"],
.signin input[type="password"] {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.signin button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signin button:hover {
  background-color: #0062cc;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
}

.signup h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.signup p {
  font-size: 1rem;
  margin: 5px;
}

.signup input[type="text"],
.signup input[type="email"],
.signup input[type="password"] {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.signup button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup button:hover {
  background-color: #0062cc;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}

form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #45a049;
}

a {
  color: blue;
  cursor: pointer;
}


/* styles for ShowEvents component */
.my-Events {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 800px;
}

.my-Events li {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.my-Events li ul {
  margin: 0;
  padding: 0;
}

.my-Events li ul li {
  list-style-type: none;
}

.my-Events li ul li div {
  margin-top: 10px;
  padding: 10px;
}

.my-Events li ul li div p {
  margin: 0;
}

/* styles for Event component */
.event-details {
  margin: 0 auto;
  max-width: 800px;
}

.event-details ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.event-details ul li {
  margin-bottom: 20px;
}

.event-details ul li button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
}

.event-details ul li button:hover {
  background-color: #0069d9;
}

.event-details ul li button:active {
  background-color: #0062cc;
}

.event-details ul li button:focus {
  outline: none;
}

.event-details ul li div {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.event-details ul li div p {
  margin: 0;
}

.event-details ul li div button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
}

.event-details ul li div button:hover {
  background-color: #0069d9;
}

.event-details ul li div button:active {
  background-color: #0062cc;
}

.event-details ul li div button:focus {
  outline: none;
}

.event-time {
  color: #333;
  font-weight: bold;
}